@model IEnumerable<Demo.Data.Access.Layer.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Departments" asp-action="Create" class="btn btn-primary mb-3">Create New Department</a>
@if (!Model.Any())
{
    <div class="mt-5 alert-warning">
        <h2>There is no Department</h2>
    </div>
}
else
{
    <h1>All Departments</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Created Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.CreatedDate</td>
                    <partial name="_ButtonsPartialView" model="@department.Id"/><partial/>
                </tr>
            }
        </tbody>
    </table>
}